*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

html {
  font-size: 100%;
  letter-spacing: 1px;
  position: relative;
}

/*16px*/

:root {
  --primary: #0ebac5;

  --blue-100: #2e3c56;
  --blue-700: #232e42;

  /* grey */
  --grey-10: rgb(243, 244, 245);
  --grey-50: #f8f9fa;
  --grey-100: #e9ecef;
  --grey-200: #eaeaf0;
  --grey-300: #ced4da;
  --grey-400: #adb5bd;
  --grey-500: #7b838a;
  --grey-600: #495057;
  --grey-700: #343a40;
  --grey-800: #212529;
  --grey-900: #000814;

  --orange-light: #efcb69;
  --orange-ligh: #efcb6994;
  --gold-light: #e8bc40;
  --gold-dark: #ffe14c;
  --dark-brown: #a5682a;

  /* errors */
  --error-border: rgba(234, 76, 137, 0.2);
  --error-text: rgba(234, 76, 137);
  /* fonts  */
  --headingFont: "Inter", sans-serif;
  --bodyFont: "Arimo", sans-serif;
  --small-text: 0.8rem;
  --extra-small-text: 0.7rem;
  /* rest of the vars */
  /* --backgroundColor: var(--grey-50); */
  --backgroundColor: white;
  --textColor: var(--grey-1000);
  --borderRadius: 0.75em;
  --borderRadius-btn: 1.5em;
  --boxBorder: 5px;
  --border: 1px solid rgb(238, 238, 238, 1);
  --letterSpacing: 1px;
  --transition: 0.3s ease all;
  --max-width: calc(99vw - 200px);
  --fixed-width: 500px;
  --square-chart-width: 200px;
  --breakpoint-lg: 750px;
  --nav-height: 4em;
  --smallSidebar-width: calc(100vw / 2);
  /* box shadow*/
  --shadow-dark: 0 1px 6px rgba(32, 33, 36, 0.28);
  --shadow-light: 0px 8px 24px rgb(149 157 165 / 20%);
  --shadow-hover: 0px 7px 29px 0px rgba(100, 100, 111, 0.1);
  /* swiper in Analytics page */
  --swiper-navigation-color: var(--grey-600);
  --swiper-pagination-color: var(--grey-600);
  --swiper-theme-color: var(--grey-600);
  --swiper-navigation-size: 20px !important;
  /* select */
  --select-border: #777;
  --select-focus: var(--primary-1000);
  --select-arrow: var(--select-border);
}

.primary-light {
  color: var(--primary);
}
.primary-dark {
  background-color: var(--blue-100);
}

body {
  font-family: var(--bodyFont) !important;
  font-size: var(--small-text);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor) !important;
  margin: 0;
}

p {
  margin-bottom: 1.5em;
  font-size: var(--small-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  font-family: var(--headingFont) !important;
}
fieldset {
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  line-height: 1.15;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style-type: none;
  padding: 0;
}

select {
  border: 1px solid var(--select-border);
  border-radius: 1em;
  padding: 0 1em 0 0;
  font-size: 1.25rem;
  cursor: pointer;
  height: 2.2em;
  background-color: #fff;
  padding-left: 1em;
}

/* https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element */
select::-ms-expand {
  /* for IE */
  display: none;
}

select:focus,
select:focus-visible {
  outline: none;
  border: 2px solid var(--grey-700);
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* alerts */
.alert {
  width: 90%;
  margin: 1em auto;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  font-weight: 600;
}

.alert-danger {
  border-left: 4px solid #721c24;
  color: #721c24;
  background-color: #f8d7daa9;
}

.alert-success {
  background-color: #d4edda;
  border-left: 4px solid #155724;
  color: #155724;
}
.alert-info {
  background-color: #ffeecf;
  border-left: 4px solid var(--dark-brown);
  color: var(--dark-brown);
}

/* Loading spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-container {
  position: absolute;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.788);
  height: 100%;
  width: 100%;
}

.loading-wheel-container {
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  top: 3em;
}

.loading-wheel-container p {
  font-weight: 600;
  font-size: 1.1em;
  margin-top: 2em;
}

.loading-wheel {
  width: 75px;
  height: 75px;
  margin: 0;
  background: transparent;
  border-top: 4px solid var(--grey-800);
  border-right: 4px solid transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
  background: transparent;
  margin: 0 auto;
}

/* title */
.logo-container {
  height: 4em;
  width: 7em;
}

.logo {
  height: 100%;
  margin-left: 1.8em;
  margin-right: 1.3em;
}

.logo-name {
  height: 100%;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: end;
}

.page-title {
  color: var(--grey-900);
  font-size: 1.5em;
  margin-right: auto;
}

.no-data {
  font-style: italic;
  text-align: center;
  min-height: 300px;
  width: 100%;
  height: 100%;
}

div[role="dialog"] {
  z-index: 10;
}

.bold-text {
  font-weight: 600;
}

/* date range picker */
.datepicker-input {
  border-radius: 1.625em;
  cursor: pointer;
  background-color: white;
  border: 1px solid #dadce0;
  padding: 0.5em;
  text-align: center;
  letter-spacing: 1px;
  min-width: 250px;
}
.flatpickr-day.selected {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.flatpickr-day.today {
  color: var(--primary) !important;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--grey-600) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--grey-600);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  padding: 0.75em 1.5em;
  background: white;
  border: 1px solid var(--grey-600);
  box-shadow: 0px 3px 5px -1px #ccc;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.dropdown.nav-btn-height {
  top: 2.5em;
  height: 6em;
  width: 9em;
  right: 0;
}
.dropdown.chart-btn-height {
  top: 4em;
  height: 6em;
  width: 9.5em;
  right: 1.5em;
}

/* pop up */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.popup_inner {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  border-radius: var(--borderRadius);
}
.popup_inner .demo-text {
  background-color: white;
  margin-bottom: 0;
  padding: 2em 1em 0.5em 1em;
}
.popup_inner p {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
}

.popup-btn-container {
  background-color: white;
  padding-bottom: 2em;
}

/* reusable classes */
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.flex-column-rev {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.justify-end {
  justify-content: end;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
.grid {
  display: grid;
}
.grid-center {
  place-items: center;
}
.w-full {
  width: 100%;
}
.padding-1 {
  padding: 1em;
}
.margin-auto {
  margin: 0 auto;
}
.margin-auto-r {
  margin-right: auto;
}
.hide-smscreen {
  display: none;
}
.row-margin-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}
.item-box {
  box-shadow: 0 3px 9px -8px rgba(0, 0, 0, 0.23);
  border: var(--border);
  background-color: white;
  margin: 0.5em;
  border-radius: var(--boxBorder);
}
.font-16 {
  font-size: 16px;
}
.fill-primary {
  fill: var(--primary);
  font-size: 1.5em;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: flex;
  align-items: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 14px;
  color: var(--blue-700);
  background-color: white;
  text-align: left;
  padding: 5px 10px;
  border-radius: 6px;
  box-shadow: var(--shadow-dark);

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
}
.tooltip .tooltiptext .title {
  color: red;
}
.tooltip .tooltiptext p {
  font-size: 14px;
}
/* tooltip position */
.tooltip .tooltiptext.right {
  top: -50px;
  left: 130%;
}
.tooltip .tooltiptext.left {
  top: -5px;
  right: 105%;
}
.tooltip .tooltiptext.top {
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext.bottom {
  top: 100%;
  margin-left: -35px;
}
.tooltip-gap {
  gap: 5px;
}

/* Show the tooltip text mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip.hide .tooltiptext {
  visibility: hidden;
}

.max-width {
  padding: 0 1em;
}

@media screen and (min-width: 450px) {
  .page-header {
    height: 3em;
  }

  .date-picker-container {
    margin-left: auto;
  }
}
@media screen and (min-width: 850px) {
  .show-850mw {
    display: inline-block;
  }
}
@media screen and (min-width: 1000px) {
  .max-width {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2em;
  }

  .show-1000mw {
    display: inline-block;
  }
  .logo-container {
    width: 200px;
    background-color: var(--primary);
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-right: 2em;
  }
  .popup_inner {
    width: 40%;
  }
  .tooltip .tooltiptext {
    min-width: 20em;
  }
}
